body {
    color: white;
    font-weight: bold;
    text-align: top;
}
h1 {
    color: purple;
    text-decoration: underline;
}

.box {
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    width: 150px;
    border-style: 1px solid black;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.red {
    margin-left: 0px;
    background-color: red;
}

.orange {
    margin-left: 30px;
    background-color: orange;
}
.yellow {
    margin-left: 60px;
    background-color: yellow;
}
.green {
    margin-left: 90px;
    background-color: green;
}
.blue {
    margin-left: 120px;
    background-color: blue;
}
.purple {
    margin-left: 150px;
    background-color: purple;
}