#sqr1 {
    width: 100px;
    height: 100px;
    background: rgb(227,0,116);
}

#sqr2 {
    width: 100px;
    height: 100px;
    background: rgb(184,208,0);
}
#sqr3 {
    width: 100px;
    height: 100px;
    background: rgb(255,153,0);
}
#sqr4 {
    width: 100px;
    height: 100px;
    background: rgb(0,48,143);
}
